/* ----------app-------- */
*{
    margin: 0;
    padding: 0;
}
#app{
    font-family: 'Avenir', Helvetica, Arial, sans-serif; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.mainView{
    margin-top: 4rem;
    z-index: 16;
}
li{
    list-style: none;
}
.border{
    border-bottom: 1px solid cadetblue;
}
/* -------------header bar---------- */
.headerBar{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: cadetblue;
    color: #ffffff;
    padding: 0 .8rem;
    font-size: 1.3rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.headerLeft{
    display: flex;
    align-items: center;
}
.headerLeft .userHead{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    margin-left: 1rem;
}
.headerRight i{
    margin-left: 1rem;
}
/* -----------footer bar---------- */
.footerBar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #f3f3f3;
}
.footerBar ul{
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .8rem;
    font-size: .8rem;
}
.footerBar ul li{
    text-align: center;
}
.footerBar i{
    font-size: 1.2rem;
}
.view-active{
    color: cadetblue;
}
/* -----------first page---------- */
.navBar{
    position: fixed;
    top: 4rem;
    left: 0;
    right: 0;
    z-index: 12;
    background: #ffffff;
}
.navBar ul{
    height: 2rem;
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .8rem;
}
.navBar-active{
    color: cadetblue;
}
.navBar .border{
    border-bottom: 2px solid cadetblue;
    width: 15%;
    margin-left: 21%;
}
/* -----------banner view--------- */
.bannerView{
    z-index: 0;
    margin-top: 6rem;
}
.bannerView .swiper-slide{
    height: 10rem;
    background: #aaa;
    color: #ffffff;
    font-size: 1.0rem;
    display: flex;
    align-items: flex-end;
}
.bannerName{
    margin: .4rem .8rem;
}
/* -----------left bar------------ */
.leftBar{
    z-index: 20;
}
.alertBk{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5)
}
.menuContent{
    width: 18rem;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}
.menuTop{
    height: 8rem;
    background: cadetblue;
    display: flex;
    justify-content: space-between;
    padding: 0 .8rem;
    color: #ffffff;
    font-size: 1.3rem;
}
.menuTop .userInfo, .menuTop .extraInfo{
    margin-top: .8rem;
}
.menuTop .userInfo{
    font-size: 1.0rem;
}
.menuTop .userInfo img{
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
}
.menuTop .userInfo .username span+span{
    font-size: .5rem;
    border: 1px solid #ffffff;
    border-radius: .5rem;
    margin-left: .5rem;
    padding: 0 .2rem;
}